Q-1 Write code for check grade given percentage.

In [1]:
Percentage=int(input("Enter the value of percemtage")) #input 
if Percentage >90:
    print("A")
elif Percentage >80 and Percentage <=90:
    print("B")    
elif Percentage >=60 and Percentage <=80:
    print("C")
else:
    print("D")

Enter the value of percemtage4
D

Q-2 Write code for check road tax for  given bike price.

In [2]:
Bike_price=int(input("Enter bike price ="))
if Bike_price > 100000:
    print(" Road Tax is 15%")
elif Bike_price<=100000 and Bike_price>50000:
    print(" Road Tax is 10%")  
else:
    print("Road Tax is 5%")

Enter bike price =5
Road Tax is 5%

Q-3 city and momentum

In [4]:
city=str(input("Pickup one city from Delhi, Agra ,Jaipur:-"))
if city == "Delhi":
    print("Monument of Delhi is Red fort")
elif city == "Agra":
    print("Monument of Agra is Taj mahal")
elif city=="Jaipur":
    print("Monument of Jaipur is Jal mahal")    
else:
    print("enter correct city")

Pickup one city from Delhi, Agra ,Jaipur:-Delhi
Monument of Delhi is Red fort

4.Check how many times a given number can be divide by 3 before it is less then or equal to 10

In [7]:
number =100
count=0
while number>10:
    number=number/3
    count=count+1
print(count)

3

In [9]:
# 5.Why and when to use while loop in python with example?
#The "while" loop in Python is used to repeatedly execute a block of code as long as a given condition is true.
sum = 0
i = 1

while i <= 10:
    sum = sum + i
    i = i + 1

print(sum)

55

In [11]:
# 6.Use nested while loop to print 3 different pattern
#Triangle pattern:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print("")
    
#Pyramid pattern:
rows = 5
for i in range(1, rows + 1):
    for j in range(rows - i):
        print(" ", end="")
    for k in range(1, 2 * i):
        print("*", end="")
    print("")
    
#Diamond pattern:
rows = 5
for i in range(1, rows + 1):
    for j in range(rows - i):
        print(" ", end="")
    for k in range(1, 2 * i):
        print("*", end="")
    print("")

for i in range(rows - 1, 0, -1):
    for j in range(rows - i):
        print(" ", end="")
    for k in range(1, 2 * i):
        print("*", end="")
    print("")

*
* *
* * *
* * * *
* * * * *
    *
   ***
  *****
 *******
*********
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [12]:
# 7.Reverse while loop to display numbers from 10 to 1
n=10
while n>=1:
    print(n)
    n=n-1

10
9
8
7
6
5
4
3
2
1

In [17]:
# 8.Reverse while loop to display numbers from 10 to 1
number=10
while number>=1:
    print(number)
    number=number-1

10
9
8
7
6
5
4
3
2
1